<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg bg-success-subtle">

    <div id="app">
        <main class="container min-vh-100 d-flex justify-content-center align-items-center py-4">
            <div class="card shadow border-0 m-100" style="max-width: 420px;">
                <div class="card-body p-4 p-md-5">
                    <div class="mb-4">
                        <h2>Login</h2>
                        <p>Isi data di bawah ini</p>
                    </div>
                    <form @submit.prevent="handleLogin">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" class="form-control" type="email" v-model="email" required
                                placeholder="email">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" class="form-control" type="password" v-model="password" required
                                placeholder="*******">
                        </div>

                        <button type="submit" class="btn btn-success w-100 mb-4">
                            Login
                        </button>
                    </form>
                    <p v-if="isLoggedIn">
                        Login Berhasil! Selamat datang, {{ email }}
                    </p>
                </div>
            </div>

        </main>
    </div>

    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        const users = [
            {email: 'admin@mail.com', password: 'admin123'}
        ]

        createApp({
            setup() {
                const email = ref('')
                const password = ref('')
                const isLoggedIn = ref(false)

                const handleLogin = () => {
                    if (email.value && password.value) {
                        isLoggedIn.value = true
                        localStorage.setItem('userEmail', email.value)
                        window.location.href = 'home.html'
                    }
                }

                return {
                    email,
                    password,
                    isLoggedIn,
                    handleLogin
                }
            }
        }).mount('#app')
    </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
  </body>
</body>

</html>